<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.baybaka.incomingcallsound"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-permission android:name="android.permission.FLASHLIGHT"/>-->

    <uses-sdk tools:overrideLibrary="com.appyvet.rangebar, org.florescu.android.rangeseekbar" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        >

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<activity android:name=".ui.testpage.TestPageActivity"/>-->


        <receiver android:name=".receivers.UpgradeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>


        <provider
            android:name=".log.logsender.CachedFileProvider"
            android:authorities="com.baybaka.incomingcallsound.provider"
            android:grantUriPermissions="true"
            />
    </application>

</manifest>
