<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.baybaka.incomingcallsound"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-sdk tools:overrideLibrary="com.appyvet.rangebar"/>


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="label"
        >
        <!--tools:replace="icon, label"-->

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <receiver android:name=".receivers.UpgradeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".log.logsender.CachedFileProvider"
            android:authorities="com.baybaka.incomingcallsound.provider"
            android:grantUriPermissions="true"

            />
    </application>

</manifest>
